.warningMessageFromTheCreator

#############################################################

//This css file has been automaticly generated

//If you make any changes to this file make sure to save them somewhere else

#############################################################

{}

.floorN,.floorS,.floorE,.floorW,.floorNW,.floorNE,.floorSW,.floorSE,.floorFill{
background:url("tileset2/floor/floorFill.png");
}
.musicN,.musicS,.musicE,.musicW,.musicNW,.musicNE,.musicSW,.musicSE,.musicFill{
background:url("tileset2/music/musicFill.png");
}
.nonmusicN,.nonmusicS,.nonmusicE,.nonmusicW,.nonmusicNW,.nonmusicNE,.nonmusicSW,.nonmusicSE,.nonmusicFill{
background:url("tileset2/nonmusic/nonmusicFill.png");
}
.consoleN{
background:url("tileset2/console/consoleN.png");
}
.consoleS{
background:url("tileset2/console/consoleS.png");
}
.consoleE{
background:url("tileset2/console/consoleE.png");
}
.consoleW{
background:url("tileset2/console/consoleW.png");
}
.consoleNW{
background:url("tileset2/console/consoleNW.png");
}
.consoleNE{
background:url("tileset2/console/consoleNE.png");
}
.consoleSW{
background:url("tileset2/console/consoleSW.png");
}
.consoleSE{
background:url("tileset2/console/consoleSE.png");
}
.consoleFill{
background:url("tileset2/console/consoleFill.png");
}
.movieN{
background:url("tileset2/movie/movieN.png");
}
.movieS{
background:url("tileset2/movie/movieS.png");
}
.movieE{
background:url("tileset2/movie/movieE.png");
}
.movieW{
background:url("tileset2/movie/movieW.png");
}
.movieNW{
background:url("tileset2/movie/movieNW.png");
}
.movieNE{
background:url("tileset2/movie/movieNE.png");
}
.movieSW{
background:url("tileset2/movie/movieSW.png");
}
.movieSE{
background:url("tileset2/movie/movieSE.png");
}
.movieFill{
background:url("tileset2/movie/movieFill.png");
}
.kitchenN{
background:url("tileset2/kitchen/kitchenN.png");
}
.kitchenS{
background:url("tileset2/kitchen/kitchenS.png");
}
.kitchenE{
background:url("tileset2/kitchen/kitchenE.png");
}
.kitchenW{
background:url("tileset2/kitchen/kitchenW.png");
}
.kitchenNW{
background:url("tileset2/kitchen/kitchenNW.png");
}
.kitchenNE{
background:url("tileset2/kitchen/kitchenNE.png");
}
.kitchenSW{
background:url("tileset2/kitchen/kitchenSW.png");
}
.kitchenSE{
background:url("tileset2/kitchen/kitchenSE.png");
}
.kitchenFill{
background:url("tileset2/kitchen/kitchenFill.png");
}
.wallN{
background:url("tileset2/wall/wallN.png");
}
.wallS{
background:url("tileset2/wall/wallS.png");
}
.wallE{
background:url("tileset2/wall/wallE.png");
}
.wallW{
background:url("tileset2/wall/wallW.png");
}
.wallNW{
background:url("tileset2/wall/wallNW.png");
}
.wallNE{
background:url("tileset2/wall/wallNE.png");
}
.wallSW{
background:url("tileset2/wall/wallSW.png");
}
.wallSE{
background:url("tileset2/wall/wallSE.png");
}
.door{
background:url("tileset2/objects/transitionH.png");
background-size:40px 20px;
}
.pillar{
background:url("tileset2/objects/pillar.png");
}
.køkkenVægSW{
background:url("tileset2/kitchen/kitchenWallSW.png");
}
.køkkenVægS{
background:url("tileset2/kitchen/kitchenWallS.png");
}
.køkkenVægSE{
background:url("tileset2/kitchen/kitchenWallSE.png");
}
.køkkenTrappe{
background:url("tileset2/kitchen/kitchenStairs.png");
}
.vendingmachine{
background:url("tileset2/objects/vendingmachine.png");
}
.vendingmachineS{
background:url("tileset2/objects/vendingmachineS.png");
}
.vendingmachineE{
background:url("tileset2/objects/vendingmachineE.png");
background-size:40px 100px;
}
.seat{
background:url("tileset2/seats/seat.png");
}
.seat-taken{
background:url("tileset2/seats/seat-taken.png");
}
.seat-selected{
background:url("tileset2/seats/seat-selected.png");
}
.seat-mouseover{
background:url("tileset2/seats/seat-mouseover.png");
}
.floorN,.floorS,.floorE,.floorW,.floorNW,.floorNE,.floorSW,.floorSE,.floorFill,.musicN,.musicS,.musicE,.musicW,.musicNW,.musicNE,.musicSW,.musicSE,.musicFill,.nonmusicN,.nonmusicS,.nonmusicE,.nonmusicW,.nonmusicNW,.nonmusicNE,.nonmusicSW,.nonmusicSE,.nonmusicFill,.consoleN,.consoleS,.consoleE,.consoleW,.consoleNW,.consoleNE,.consoleSW,.consoleSE,.consoleFill,.movieN,.movieS,.movieE,.movieW,.movieNW,.movieNE,.movieSW,.movieSE,.movieFill,.kitchenN,.kitchenS,.kitchenE,.kitchenW,.kitchenNW,.kitchenNE,.kitchenSW,.kitchenSE,.kitchenFill,.wallN,.wallS,.wallE,.wallW,.wallNW,.wallNE,.wallSW,.wallSE,.køkkenTrappe,.seat,.seat-taken,.seat-selected,.seat-mouseover{
background-size:20 20;
}
.pillar,.køkkenVægSW,.køkkenVægS,.køkkenVægSE{
background-size:20px 20px;
}
.vendingmachine,.vendingmachineS{
background-size:40px 40px;
}
.door,.pillar,.køkkenVægSW,.køkkenVægS,.køkkenVægSE,.køkkenTrappe,.vendingmachine,.vendingmachineS,.vendingmachineE,.seat,.seat-taken,.seat-selected,.seat-mouseover,#pillar7{
z-index:7;
}
#floorN0,#floorS0,#floorW0,#floorE0,#floorNE0,#floorNW0,#floorSE0,#floorSW0,#gulv0{
z-index:0;
}
#floorN1,#floorS1,#floorW1,#floorE1,#floorNE1,#floorNW1,#floorSE1,#floorSW1,#gulv1{
z-index:1;
}
#musicN2,#musicS2,#musicW2,#musicE2,#musicNE2,#musicNW2,#musicSE2,#musicSW2,#musik2{
z-index:2;
}
#movieN3,#movieS3,#movieW3,#movieE3,#movieNE3,#movieNW3,#movieSE3,#movieSW3,#film3{
z-index:3;
}
#consoleN4,#consoleS4,#consoleW4,#consoleE4,#consoleNE4,#consoleNW4,#consoleSE4,#consoleSW4,#konsol4{
z-index:4;
}
#kitchenN5,#kitchenS5,#kitchenW5,#kitchenE5,#kitchenNE5,#kitchenNW5,#kitchenSE5,#kitchenSW5,#køkken5{
z-index:5;
}
#seat1,#seat2,#seat3,#seat4,#seat5,#seat6,#seat7,#seat8,#seat9,#seat10,#seat11,#seat12,#seat13,#seat14,#seat15,#seat16,#seat17,#seat18,#seat19,#seat20,#seat21,#seat22,#seat23,#seat24,#seat25,#seat26,#seat27,#seat28,#seat29,#seat30,#seat31,#seat32,#seat33,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45,#seat46,#seat47,#seat48,#seat49,#seat50,#seat51,#seat52,#seat53,#seat54,#seat55,#seat56,#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#seat63,#seat64,#seat65,#seat66,#seat67,#seat68,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74,#seat75,#seat76,#seat77,#seat78,#seat79,#seat80,#pillar6{
z-index:6;
}
#pillar8{
z-index:8;
}
#pillar9{
z-index:9;
}
#pillar10{
z-index:10;
}
#pillar11{
z-index:11;
}
#køkkenVægSW12{
z-index:12;
}
#køkkenVægS13{
z-index:13;
}
#køkkenVægS14{
z-index:14;
}
#køkkenVægS15{
z-index:15;
left:260;
}
#køkkenVægSE16{
z-index:16;
}
#vendingmachine17{
z-index:17;
}
#vendingmachine18{
z-index:18;
}
#vendingmachineS19{
z-index:19;
}
#vendingmachineS20{
z-index:20;
}
#vendingmachineE21{
z-index:21;
left:160;
height:100;
}
#wallN22,#wallS22,#wallW22,#wallE22,#wallNE22,#wallNW22,#wallSE22,#wallSW22{
z-index:22;
}
#door23{
z-index:23;
}
#door24{
z-index:24;
}
#floorN0,#floorS0,#gulv0,#floorW1,#floorNW1,#floorSW1,#musicW2,#musicNW2,#musicSW2,#seat1,#seat6,#seat11,#seat17,#seat23,#seat29,#seat34,#seat40,#seat46,#seat51,#seat57,#seat63,#seat69,#seat75,#wallN22,#wallS22,#door23{
left:20;
}
#floorW0,#floorNW0,#floorSW0,#wallW22,#wallNW22,#wallSW22{
left:0;
}
#floorE0,#floorNE0,#floorSE0,#wallE22,#wallNE22,#wallSE22{
left:300;
}
#floorN1,#floorS1,#gulv1,#musicN2,#musicS2,#musik2,#seat2,#seat7,#seat12,#seat18,#seat24,#seat30,#seat35,#seat41,#seat47,#seat52,#seat58,#seat64,#seat70,#seat76,#door24{
left:40;
}
#floorE1,#floorNE1,#floorSE1,#musicE2,#musicNE2,#musicSE2{
left:180;
}
#movieN3,#movieS3,#film3,#consoleN4,#consoleS4,#konsol4,#kitchenN5,#kitchenS5,#køkken5,#køkkenVægS13{
left:220;
}
#movieW3,#movieNW3,#movieSW3,#consoleW4,#consoleNW4,#consoleSW4,#kitchenW5,#kitchenNW5,#kitchenSW5,#køkkenVægSW12,#vendingmachine17,#vendingmachineS19{
left:200;
}
#movieE3,#movieNE3,#movieSE3,#consoleE4,#consoleNE4,#consoleSE4,#kitchenE5,#kitchenNE5,#kitchenSE5,#køkkenVægSE16{
left:280;
}
#seat3,#seat8,#seat13,#seat19,#seat25,#seat31,#seat36,#seat42,#seat48,#seat53,#seat59,#seat65,#seat71,#seat77,#pillar6{
left:60;
}
#seat4,#seat9,#seat14,#seat20,#seat26,#seat32,#seat37,#seat43,#seat49,#seat54,#seat60,#seat66,#seat72,#seat78{
left:80;
}
#seat5,#seat10,#seat15,#seat21,#seat27,#seat33,#seat38,#seat44,#seat50,#seat55,#seat61,#seat67,#seat73,#seat79{
left:100;
}
#seat16,#seat22,#seat28,#seat39,#seat45,#seat56,#seat62,#seat68,#seat74,#seat80,#pillar7,#pillar8,#pillar9,#pillar10,#pillar11{
left:120;
}
#køkkenVægS14,#vendingmachine18,#vendingmachineS20{
left:240;
}
#floorN0,#floorNE0,#floorNW0,#wallN22,#wallNE22,#wallNW22,#door23{
top:0;
}
#floorS0,#floorSE0,#floorSW0,#wallS22,#wallSE22,#wallSW22,#door24{
top:700;
}
#floorW0,#floorE0,#gulv0,#floorN1,#floorNE1,#floorNW1,#movieN3,#movieNE3,#movieNW3,#pillar6,#pillar7,#wallW22,#wallE22{
top:20;
}
#floorS1,#floorSE1,#floorSW1,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39{
top:340;
}
#floorW1,#floorE1,#gulv1,#movieW3,#movieE3,#film3{
top:40;
}
#musicN2,#musicNE2,#musicNW2,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45{
top:360;
}
#musicS2,#musicSE2,#musicSW2,#consoleS4,#consoleSE4,#consoleSW4,#vendingmachineS19,#vendingmachineS20{
top:680;
}
#musicW2,#musicE2,#musik2{
top:380;
}
#movieS3,#movieSE3,#movieSW3,#kitchenN5,#kitchenNE5,#kitchenNW5{
top:120;
}
#consoleN4,#consoleNE4,#consoleNW4,#køkkenVægSW12,#køkkenVægS13,#køkkenVægS14,#køkkenVægS15,#køkkenVægSE16,#vendingmachine17,#vendingmachine18{
top:580;
}
#consoleW4,#consoleE4,#konsol4,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74{
top:600;
}
#kitchenS5,#kitchenSE5,#kitchenSW5,#pillar11{
top:560;
}
#kitchenW5,#kitchenE5,#køkken5,#pillar8{
top:140;
}
#seat1,#seat2,#seat3,#seat4,#seat5{
top:80;
}
#seat6,#seat7,#seat8,#seat9,#seat10{
top:100;
}
#seat11,#seat12,#seat13,#seat14,#seat15,#seat16{
top:180;
}
#seat17,#seat18,#seat19,#seat20,#seat21,#seat22{
top:200;
}
#seat23,#seat24,#seat25,#seat26,#seat27,#seat28{
top:260;
}
#seat29,#seat30,#seat31,#seat32,#seat33,#pillar9{
top:280;
}
#seat46,#seat47,#seat48,#seat49,#seat50,#pillar10{
top:420;
}
#seat51,#seat52,#seat53,#seat54,#seat55,#seat56{
top:440;
}
#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#vendingmachineE21{
top:500;
}
#seat63,#seat64,#seat65,#seat66,#seat67,#seat68{
top:520;
}
#seat75,#seat76,#seat77,#seat78,#seat79,#seat80{
top:620;
}
#floorN0,#floorS0,#gulv0,#wallN22,#wallS22{
width:280;
}
#floorW0,#floorE0,#floorNE0,#floorNW0,#floorSE0,#floorSW0,#floorW1,#floorE1,#floorNE1,#floorNW1,#floorSE1,#floorSW1,#musicW2,#musicE2,#musicNE2,#musicNW2,#musicSE2,#musicSW2,#movieW3,#movieE3,#movieNE3,#movieNW3,#movieSE3,#movieSW3,#consoleW4,#consoleE4,#consoleNE4,#consoleNW4,#consoleSE4,#consoleSW4,#kitchenW5,#kitchenE5,#kitchenNE5,#kitchenNW5,#kitchenSE5,#kitchenSW5,#seat1,#seat2,#seat3,#seat4,#seat5,#seat6,#seat7,#seat8,#seat9,#seat10,#seat11,#seat12,#seat13,#seat14,#seat15,#seat16,#seat17,#seat18,#seat19,#seat20,#seat21,#seat22,#seat23,#seat24,#seat25,#seat26,#seat27,#seat28,#seat29,#seat30,#seat31,#seat32,#seat33,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45,#seat46,#seat47,#seat48,#seat49,#seat50,#seat51,#seat52,#seat53,#seat54,#seat55,#seat56,#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#seat63,#seat64,#seat65,#seat66,#seat67,#seat68,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74,#seat75,#seat76,#seat77,#seat78,#seat79,#seat80,#pillar6,#pillar7,#pillar8,#pillar9,#pillar10,#pillar11,#køkkenVægSW12,#køkkenVægS13,#køkkenVægS14,#køkkenVægS15,#køkkenVægSE16,#wallW22,#wallE22,#wallNE22,#wallNW22,#wallSE22,#wallSW22{
width:20;
}
#floorN1,#floorS1,#gulv1,#musicN2,#musicS2,#musik2{
width:140;
}
#movieN3,#movieS3,#film3,#consoleN4,#consoleS4,#konsol4,#kitchenN5,#kitchenS5,#køkken5{
width:60;
}
#vendingmachine17,#vendingmachine18,#vendingmachineS19,#vendingmachineS20,#vendingmachineE21,#door23,#door24{
width:40;
}
#floorN0,#floorS0,#floorNE0,#floorNW0,#floorSE0,#floorSW0,#floorN1,#floorS1,#floorNE1,#floorNW1,#floorSE1,#floorSW1,#musicN2,#musicS2,#musicNE2,#musicNW2,#musicSE2,#musicSW2,#movieN3,#movieS3,#movieNE3,#movieNW3,#movieSE3,#movieSW3,#consoleN4,#consoleS4,#consoleNE4,#consoleNW4,#consoleSE4,#consoleSW4,#kitchenN5,#kitchenS5,#kitchenNE5,#kitchenNW5,#kitchenSE5,#kitchenSW5,#seat1,#seat2,#seat3,#seat4,#seat5,#seat6,#seat7,#seat8,#seat9,#seat10,#seat11,#seat12,#seat13,#seat14,#seat15,#seat16,#seat17,#seat18,#seat19,#seat20,#seat21,#seat22,#seat23,#seat24,#seat25,#seat26,#seat27,#seat28,#seat29,#seat30,#seat31,#seat32,#seat33,#seat34,#seat35,#seat36,#seat37,#seat38,#seat39,#seat40,#seat41,#seat42,#seat43,#seat44,#seat45,#seat46,#seat47,#seat48,#seat49,#seat50,#seat51,#seat52,#seat53,#seat54,#seat55,#seat56,#seat57,#seat58,#seat59,#seat60,#seat61,#seat62,#seat63,#seat64,#seat65,#seat66,#seat67,#seat68,#seat69,#seat70,#seat71,#seat72,#seat73,#seat74,#seat75,#seat76,#seat77,#seat78,#seat79,#seat80,#pillar6,#pillar7,#pillar8,#pillar9,#pillar10,#pillar11,#køkkenVægSW12,#køkkenVægS13,#køkkenVægS14,#køkkenVægS15,#køkkenVægSE16,#wallN22,#wallS22,#wallNE22,#wallNW22,#wallSE22,#wallSW22,#door23,#door24{
height:20;
}
#floorW0,#floorE0,#gulv0,#wallW22,#wallE22{
height:680;
}
#floorW1,#floorE1,#gulv1,#musicW2,#musicE2,#musik2{
height:300;
}
#movieW3,#movieE3,#film3,#consoleW4,#consoleE4,#konsol4{
height:80;
}
#kitchenW5,#kitchenE5,#køkken5{
height:420;
}
#vendingmachine17,#vendingmachine18,#vendingmachineS19,#vendingmachineS20{
height:40;
}
