.warningMessageFromTheCreator

#############################################################

//This css file has been automaticly generated

//If you make any changes to this file make sure to save them somewhere else

#############################################################

{}

.tile{
position:absolute;
background-size:20 20;
}
.floorN{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorS{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorE{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorW{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorNW{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorNE{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorSW{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorSE{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.floorFill{
background:url("tileset2/floor/floorFill.png");
background-size:20 20;
}
.musicN{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicS{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicE{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicW{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicNW{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicNE{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicSW{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicSE{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.musicFill{
background:url("tileset2/music/musicFill.png");
background-size:20 20;
}
.nonmusicN{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicS{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicE{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicW{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicNW{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicNE{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicSW{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicSE{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.nonmusicFill{
background:url("tileset2/nonmusic/nonmusicFill.png");
background-size:20 20;
}
.consoleN{
background:url("tileset2/console/consoleN.png");
background-size:20 20;
}
.consoleS{
background:url("tileset2/console/consoleS.png");
background-size:20 20;
}
.consoleE{
background:url("tileset2/console/consoleE.png");
background-size:20 20;
}
.consoleW{
background:url("tileset2/console/consoleW.png");
background-size:20 20;
}
.consoleNW{
background:url("tileset2/console/consoleNW.png");
background-size:20 20;
}
.consoleNE{
background:url("tileset2/console/consoleNE.png");
background-size:20 20;
}
.consoleSW{
background:url("tileset2/console/consoleSW.png");
background-size:20 20;
}
.consoleSE{
background:url("tileset2/console/consoleSE.png");
background-size:20 20;
}
.consoleFill{
background:url("tileset2/console/consoleFill.png");
background-size:20 20;
}
.movieN{
background:url("tileset2/movie/movieN.png");
background-size:20 20;
}
.movieS{
background:url("tileset2/movie/movieS.png");
background-size:20 20;
}
.movieE{
background:url("tileset2/movie/movieE.png");
background-size:20 20;
}
.movieW{
background:url("tileset2/movie/movieW.png");
background-size:20 20;
}
.movieNW{
background:url("tileset2/movie/movieNW.png");
background-size:20 20;
}
.movieNE{
background:url("tileset2/movie/movieNE.png");
background-size:20 20;
}
.movieSW{
background:url("tileset2/movie/movieSW.png");
background-size:20 20;
}
.movieSE{
background:url("tileset2/movie/movieSE.png");
background-size:20 20;
}
.movieFill{
background:url("tileset2/movie/movieFill.png");
background-size:20 20;
}
.kitchenN{
background:url("tileset2/kitchen/kitchenN.png");
background-size:20 20;
}
.kitchenS{
background:url("tileset2/kitchen/kitchenS.png");
background-size:20 20;
}
.kitchenE{
background:url("tileset2/kitchen/kitchenE.png");
background-size:20 20;
}
.kitchenW{
background:url("tileset2/kitchen/kitchenW.png");
background-size:20 20;
}
.kitchenNW{
background:url("tileset2/kitchen/kitchenNW.png");
background-size:20 20;
}
.kitchenNE{
background:url("tileset2/kitchen/kitchenNE.png");
background-size:20 20;
}
.kitchenSW{
background:url("tileset2/kitchen/kitchenSW.png");
background-size:20 20;
}
.kitchenSE{
background:url("tileset2/kitchen/kitchenSE.png");
background-size:20 20;
}
.kitchenFill{
background:url("tileset2/kitchen/kitchenFill.png");
background-size:20 20;
}
.wallN{
background:url("tileset2/wall/wallN.png");
background-size:20 20;
}
.wallS{
background:url("tileset2/wall/wallS.png");
background-size:20 20;
}
.wallE{
background:url("tileset2/wall/wallE.png");
background-size:20 20;
}
.wallW{
background:url("tileset2/wall/wallW.png");
background-size:20 20;
}
.wallNW{
background:url("tileset2/wall/wallNW.png");
background-size:20 20;
}
.wallNE{
background:url("tileset2/wall/wallNE.png");
background-size:20 20;
}
.wallSW{
background:url("tileset2/wall/wallSW.png");
background-size:20 20;
}
.wallSE{
background:url("tileset2/wall/wallSE.png");
background-size:20 20;
}
.door{
background:url("tileset2/objects/transitionH.png");
z-index:7;
background-size:40px 20px;
}
.pillar{
background:url("tileset2/objects/pillar.png");
z-index:7;
background-size:20px 20px;
}
.køkkenVægSW{
background:url("tileset2/kitchen/kitchenWallSW.png");
z-index:7;
background-size:20px 20px;
}
.køkkenVægS{
background:url("tileset2/kitchen/kitchenWallS.png");
z-index:7;
background-size:20px 20px;
}
.køkkenVægSE{
background:url("tileset2/kitchen/kitchenWallSE.png");
z-index:7;
background-size:20px 20px;
}
.køkkenTrappe{
background:url("tileset2/kitchen/kitchenStairs.png");
z-index:7;
background-size:20 20;
}
.vendingmachine{
background:url("tileset2/objects/vendingmachine.png");
z-index:7;
background-size:40px 40px;
}
.vendingmachineS{
background:url("tileset2/objects/vendingmachineS.png");
z-index:7;
background-size:40px 40px;
}
.vendingmachineE{
background:url("tileset2/objects/vendingmachineE.png");
z-index:7;
background-size:40px 100px;
}
#floorN0{
left:20;
top:0;
width:280;
height:20;
z-index:0;
}
#floorS0{
left:20;
top:700;
width:280;
height:20;
z-index:0;
}
#floorW0{
left:0;
top:20;
width:20;
height:680;
z-index:0;
}
#floorE0{
left:300;
top:20;
width:20;
height:680;
z-index:0;
}
#floorNE0{
left:300;
top:0;
width:20;
height:20;
z-index:0;
}
#floorNW0{
left:0;
top:0;
width:20;
height:20;
z-index:0;
}
#floorSE0{
left:300;
top:700;
width:20;
height:20;
z-index:0;
}
#floorSW0{
left:0;
top:700;
width:20;
height:20;
z-index:0;
}
#gulv0{
left:20;
top:20;
width:280;
height:680;
z-index:0;
}
#floorN1{
left:40;
top:20;
width:140;
height:20;
z-index:1;
}
#floorS1{
left:40;
top:340;
width:140;
height:20;
z-index:1;
}
#floorW1{
left:20;
top:40;
width:20;
height:300;
z-index:1;
}
#floorE1{
left:180;
top:40;
width:20;
height:300;
z-index:1;
}
#floorNE1{
left:180;
top:20;
width:20;
height:20;
z-index:1;
}
#floorNW1{
left:20;
top:20;
width:20;
height:20;
z-index:1;
}
#floorSE1{
left:180;
top:340;
width:20;
height:20;
z-index:1;
}
#floorSW1{
left:20;
top:340;
width:20;
height:20;
z-index:1;
}
#gulv1{
left:40;
top:40;
width:140;
height:300;
z-index:1;
}
#musicN2{
left:40;
top:360;
width:140;
height:20;
z-index:2;
}
#musicS2{
left:40;
top:680;
width:140;
height:20;
z-index:2;
}
#musicW2{
left:20;
top:380;
width:20;
height:300;
z-index:2;
}
#musicE2{
left:180;
top:380;
width:20;
height:300;
z-index:2;
}
#musicNE2{
left:180;
top:360;
width:20;
height:20;
z-index:2;
}
#musicNW2{
left:20;
top:360;
width:20;
height:20;
z-index:2;
}
#musicSE2{
left:180;
top:680;
width:20;
height:20;
z-index:2;
}
#musicSW2{
left:20;
top:680;
width:20;
height:20;
z-index:2;
}
#musik2{
left:40;
top:380;
width:140;
height:300;
z-index:2;
}
#movieN3{
left:220;
top:20;
width:60;
height:20;
z-index:3;
}
#movieS3{
left:220;
top:120;
width:60;
height:20;
z-index:3;
}
#movieW3{
left:200;
top:40;
width:20;
height:80;
z-index:3;
}
#movieE3{
left:280;
top:40;
width:20;
height:80;
z-index:3;
}
#movieNE3{
left:280;
top:20;
width:20;
height:20;
z-index:3;
}
#movieNW3{
left:200;
top:20;
width:20;
height:20;
z-index:3;
}
#movieSE3{
left:280;
top:120;
width:20;
height:20;
z-index:3;
}
#movieSW3{
left:200;
top:120;
width:20;
height:20;
z-index:3;
}
#film3{
left:220;
top:40;
width:60;
height:80;
z-index:3;
}
#consoleN4{
left:220;
top:580;
width:60;
height:20;
z-index:4;
}
#consoleS4{
left:220;
top:680;
width:60;
height:20;
z-index:4;
}
#consoleW4{
left:200;
top:600;
width:20;
height:80;
z-index:4;
}
#consoleE4{
left:280;
top:600;
width:20;
height:80;
z-index:4;
}
#consoleNE4{
left:280;
top:580;
width:20;
height:20;
z-index:4;
}
#consoleNW4{
left:200;
top:580;
width:20;
height:20;
z-index:4;
}
#consoleSE4{
left:280;
top:680;
width:20;
height:20;
z-index:4;
}
#consoleSW4{
left:200;
top:680;
width:20;
height:20;
z-index:4;
}
#konsol4{
left:220;
top:600;
width:60;
height:80;
z-index:4;
}
#kitchenN5{
left:220;
top:120;
width:60;
height:20;
z-index:5;
}
#kitchenS5{
left:220;
top:560;
width:60;
height:20;
z-index:5;
}
#kitchenW5{
left:200;
top:140;
width:20;
height:420;
z-index:5;
}
#kitchenE5{
left:280;
top:140;
width:20;
height:420;
z-index:5;
}
#kitchenNE5{
left:280;
top:120;
width:20;
height:20;
z-index:5;
}
#kitchenNW5{
left:200;
top:120;
width:20;
height:20;
z-index:5;
}
#kitchenSE5{
left:280;
top:560;
width:20;
height:20;
z-index:5;
}
#kitchenSW5{
left:200;
top:560;
width:20;
height:20;
z-index:5;
}
#køkken5{
left:220;
top:140;
width:60;
height:420;
z-index:5;
}
.seat{
background:url("tileset2/seats/seat.png");
z-index:7;
background-size:20 20;
}
.seat-taken{
background:url("tileset2/seats/seat-taken.png");
z-index:7;
background-size:20 20;
}
.seat-selected{
background:url("tileset2/seats/seat-selected.png");
z-index:7;
background-size:20 20;
}
.seat-mouseover{
background:url("tileset2/seats/seat-mouseover.png");
z-index:7;
background-size:20 20;
}
#seat1{
left:20;
top:80;
width:20;
height:20;
z-index:6;
}
#seat2{
left:40;
top:80;
width:20;
height:20;
z-index:6;
}
#seat3{
left:60;
top:80;
width:20;
height:20;
z-index:6;
}
#seat4{
left:80;
top:80;
width:20;
height:20;
z-index:6;
}
#seat5{
left:100;
top:80;
width:20;
height:20;
z-index:6;
}
#seat6{
left:20;
top:100;
width:20;
height:20;
z-index:6;
}
#seat7{
left:40;
top:100;
width:20;
height:20;
z-index:6;
}
#seat8{
left:60;
top:100;
width:20;
height:20;
z-index:6;
}
#seat9{
left:80;
top:100;
width:20;
height:20;
z-index:6;
}
#seat10{
left:100;
top:100;
width:20;
height:20;
z-index:6;
}
#seat11{
left:20;
top:180;
width:20;
height:20;
z-index:6;
}
#seat12{
left:40;
top:180;
width:20;
height:20;
z-index:6;
}
#seat13{
left:60;
top:180;
width:20;
height:20;
z-index:6;
}
#seat14{
left:80;
top:180;
width:20;
height:20;
z-index:6;
}
#seat15{
left:100;
top:180;
width:20;
height:20;
z-index:6;
}
#seat16{
left:120;
top:180;
width:20;
height:20;
z-index:6;
}
#seat17{
left:20;
top:200;
width:20;
height:20;
z-index:6;
}
#seat18{
left:40;
top:200;
width:20;
height:20;
z-index:6;
}
#seat19{
left:60;
top:200;
width:20;
height:20;
z-index:6;
}
#seat20{
left:80;
top:200;
width:20;
height:20;
z-index:6;
}
#seat21{
left:100;
top:200;
width:20;
height:20;
z-index:6;
}
#seat22{
left:120;
top:200;
width:20;
height:20;
z-index:6;
}
#seat23{
left:20;
top:260;
width:20;
height:20;
z-index:6;
}
#seat24{
left:40;
top:260;
width:20;
height:20;
z-index:6;
}
#seat25{
left:60;
top:260;
width:20;
height:20;
z-index:6;
}
#seat26{
left:80;
top:260;
width:20;
height:20;
z-index:6;
}
#seat27{
left:100;
top:260;
width:20;
height:20;
z-index:6;
}
#seat28{
left:120;
top:260;
width:20;
height:20;
z-index:6;
}
#seat29{
left:20;
top:280;
width:20;
height:20;
z-index:6;
}
#seat30{
left:40;
top:280;
width:20;
height:20;
z-index:6;
}
#seat31{
left:60;
top:280;
width:20;
height:20;
z-index:6;
}
#seat32{
left:80;
top:280;
width:20;
height:20;
z-index:6;
}
#seat33{
left:100;
top:280;
width:20;
height:20;
z-index:6;
}
#seat34{
left:20;
top:340;
width:20;
height:20;
z-index:6;
}
#seat35{
left:40;
top:340;
width:20;
height:20;
z-index:6;
}
#seat36{
left:60;
top:340;
width:20;
height:20;
z-index:6;
}
#seat37{
left:80;
top:340;
width:20;
height:20;
z-index:6;
}
#seat38{
left:100;
top:340;
width:20;
height:20;
z-index:6;
}
#seat39{
left:120;
top:340;
width:20;
height:20;
z-index:6;
}
#seat40{
left:20;
top:360;
width:20;
height:20;
z-index:6;
}
#seat41{
left:40;
top:360;
width:20;
height:20;
z-index:6;
}
#seat42{
left:60;
top:360;
width:20;
height:20;
z-index:6;
}
#seat43{
left:80;
top:360;
width:20;
height:20;
z-index:6;
}
#seat44{
left:100;
top:360;
width:20;
height:20;
z-index:6;
}
#seat45{
left:120;
top:360;
width:20;
height:20;
z-index:6;
}
#seat46{
left:20;
top:420;
width:20;
height:20;
z-index:6;
}
#seat47{
left:40;
top:420;
width:20;
height:20;
z-index:6;
}
#seat48{
left:60;
top:420;
width:20;
height:20;
z-index:6;
}
#seat49{
left:80;
top:420;
width:20;
height:20;
z-index:6;
}
#seat50{
left:100;
top:420;
width:20;
height:20;
z-index:6;
}
#seat51{
left:20;
top:440;
width:20;
height:20;
z-index:6;
}
#seat52{
left:40;
top:440;
width:20;
height:20;
z-index:6;
}
#seat53{
left:60;
top:440;
width:20;
height:20;
z-index:6;
}
#seat54{
left:80;
top:440;
width:20;
height:20;
z-index:6;
}
#seat55{
left:100;
top:440;
width:20;
height:20;
z-index:6;
}
#seat56{
left:120;
top:440;
width:20;
height:20;
z-index:6;
}
#seat57{
left:20;
top:500;
width:20;
height:20;
z-index:6;
}
#seat58{
left:40;
top:500;
width:20;
height:20;
z-index:6;
}
#seat59{
left:60;
top:500;
width:20;
height:20;
z-index:6;
}
#seat60{
left:80;
top:500;
width:20;
height:20;
z-index:6;
}
#seat61{
left:100;
top:500;
width:20;
height:20;
z-index:6;
}
#seat62{
left:120;
top:500;
width:20;
height:20;
z-index:6;
}
#seat63{
left:20;
top:520;
width:20;
height:20;
z-index:6;
}
#seat64{
left:40;
top:520;
width:20;
height:20;
z-index:6;
}
#seat65{
left:60;
top:520;
width:20;
height:20;
z-index:6;
}
#seat66{
left:80;
top:520;
width:20;
height:20;
z-index:6;
}
#seat67{
left:100;
top:520;
width:20;
height:20;
z-index:6;
}
#seat68{
left:120;
top:520;
width:20;
height:20;
z-index:6;
}
#seat69{
left:20;
top:600;
width:20;
height:20;
z-index:6;
}
#seat70{
left:40;
top:600;
width:20;
height:20;
z-index:6;
}
#seat71{
left:60;
top:600;
width:20;
height:20;
z-index:6;
}
#seat72{
left:80;
top:600;
width:20;
height:20;
z-index:6;
}
#seat73{
left:100;
top:600;
width:20;
height:20;
z-index:6;
}
#seat74{
left:120;
top:600;
width:20;
height:20;
z-index:6;
}
#seat75{
left:20;
top:620;
width:20;
height:20;
z-index:6;
}
#seat76{
left:40;
top:620;
width:20;
height:20;
z-index:6;
}
#seat77{
left:60;
top:620;
width:20;
height:20;
z-index:6;
}
#seat78{
left:80;
top:620;
width:20;
height:20;
z-index:6;
}
#seat79{
left:100;
top:620;
width:20;
height:20;
z-index:6;
}
#seat80{
left:120;
top:620;
width:20;
height:20;
z-index:6;
}
#pillar6{
left:60;
top:20;
width:20;
height:20;
z-index:6;
}
#pillar7{
left:120;
top:20;
width:20;
height:20;
z-index:7;
}
#pillar8{
left:120;
top:140;
width:20;
height:20;
z-index:8;
}
#pillar9{
left:120;
top:280;
width:20;
height:20;
z-index:9;
}
#pillar10{
left:120;
top:420;
width:20;
height:20;
z-index:10;
}
#pillar11{
left:120;
top:560;
width:20;
height:20;
z-index:11;
}
#køkkenVægSW12{
left:200;
top:580;
width:20;
height:20;
z-index:12;
}
#køkkenVægS13{
left:220;
top:580;
width:20;
height:20;
z-index:13;
}
#køkkenVægS14{
left:240;
top:580;
width:20;
height:20;
z-index:14;
}
#køkkenVægS15{
left:260;
top:580;
width:20;
height:20;
z-index:15;
}
#køkkenVægSE16{
left:280;
top:580;
width:20;
height:20;
z-index:16;
}
#vendingmachine17{
left:200;
top:580;
width:40;
height:40;
z-index:17;
}
#vendingmachine18{
left:240;
top:580;
width:40;
height:40;
z-index:18;
}
#vendingmachineS19{
left:200;
top:680;
width:40;
height:40;
z-index:19;
}
#vendingmachineS20{
left:240;
top:680;
width:40;
height:40;
z-index:20;
}
#vendingmachineE21{
left:160;
top:500;
width:40;
height:100;
z-index:21;
}
#wallN22{
left:20;
top:0;
width:280;
height:20;
z-index:22;
}
#wallS22{
left:20;
top:700;
width:280;
height:20;
z-index:22;
}
#wallW22{
left:0;
top:20;
width:20;
height:680;
z-index:22;
}
#wallE22{
left:300;
top:20;
width:20;
height:680;
z-index:22;
}
#wallNE22{
left:300;
top:0;
width:20;
height:20;
z-index:22;
}
#wallNW22{
left:0;
top:0;
width:20;
height:20;
z-index:22;
}
#wallSE22{
left:300;
top:700;
width:20;
height:20;
z-index:22;
}
#wallSW22{
left:0;
top:700;
width:20;
height:20;
z-index:22;
}
#door23{
left:20;
top:0;
width:40;
height:20;
z-index:23;
}
#door24{
left:40;
top:700;
width:40;
height:20;
z-index:24;
}
